{% extends "base.html" %}
{% block content %}
    <div class="jumbotron text-center py-5 bg-light shadow-sm rounded">
        <h1 class="display-5 fw-bold">About Calisophy</h1>
        <p class="lead text-muted">A Community of Strength and Growth</p>
    </div>
    <div class="card">
        <h2>A Message To Fellow Calisthenics Passionists</h2>
        <h3 style="text-align: center;">Jedd Yang</h3>
        <p style="margin: 0; text-align: center; max-width: 750px; margin-left: auto; margin-right: auto;">
            Welcome to Calisophy! I'm Jedd, the founder, and I'm thrilled to have you here. 
            This platform is built for calisthenics enthusiasts like you—whether you're just 
            starting or have been honing your skills for years. The purpose of Calisophy is simple: 
            to share knowledge, inspire growth, and uplift each other on our calisthenics journey. 
            Together, let's push boundaries, achieve our goals, and celebrate the art of bodyweight mastery. 
            Welcome to the community!
        </p>
    </div>
{% endblock %}